<nav class="navbar" data-user_id="{{id}}">
  <button class="new-chat" id="new-chat"><i class="fa-thin fa-plus"></i></button>
  <ul class="navbar-nav">
    {{#each chats}}
    <li class="nav-item" data-chat_num="{{id}}" onclick="selectChat(event)">{{formatChatName chat_name}}</li>
    {{/each}}
  </ul>
</nav>

<div id="image-dash">
  <img src="/images/logo.png" alt="">
</div>

<div class="modal-outer">
  <div class="modal-inner">
    <div class="modal-section">
      <h1 class="modal-header">Please enter new chat name.</h1>
      <form class="create-chat-form">
        <input type="text" class="create-chat-input" placeholder="Enter Chat Name" id="new-chat-name" />
        <button type="submit" class="create-chat-btn" id="create-chat">Create
          Chat</button>
      </form>
    </div>
    <div class="modal-section">
      <h1 class="modal-header">Know the chat number ID?</h1>
      <form class="create-chat-form">
        <input type="number" class="join-chat-input" placeholder="Enter Chat ID" id="join-chat-name" />
        <button type="submit" class="join-chat-btn" id="join-chat">Join Chat</button>
      </form>
    </div>
  </div>
</div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/dashboard.js"></script>