 <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap"
      rel="stylesheet"
    />
      <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
<div id="login-page-container">
    <h1 id="welcome-title">Welcome to</h1>
    <div id="image-container">
        <img src="/images/logo.png" alt="">
    </div>

    <div class="signup">
        <section class="sign-up-container">
            <p class="sign-up-title">Sign Up!</p>
            <form class="form" onsubmit="signupHandler(event)">
                <input type="text" class="username-signup input" placeholder="Create a username">
                <br>
                <input type="text" class="password-signup input" placeholder="Create a password">
                <br>
                <button type="submit" class="btn signup-btn">Sign Up</button>
            </form>
            <p class="login-transfer">Already have an account?<span class="transfers" onclick="toSignUp()">Login</span>
            </p>
        </section>

    </div>

    <div class="login hide">
            <section class="login-container">
                <p class="log-in-title">Log In</p>
                <form class="form" onsubmit="loginHandler(event)">
                    <input type="text" class="username-login input" placeholder="Enter your username">
                    <br>
                    <input type="text" class="password-login input" placeholder="Enter your password">
                    <br>
                    <button type="submit" class="btn login-btn">Login</button>
                </form>
                <p class="signup-transfer">Dont have an account?<span class="transfers" onclick="toLogIn()">Sign
                        up</span></p>
            </section>
    </div>
</div>

<script src="/javascript/login.js"></script>