<div class="login-container">
  <form action="/dashboard" id="login-form">
    <h1>Login</h1>

    <div class="form-input">
      <input
        type="text"
        class="form-control"
        id="username-login"
        placeholder="Enter Username"
        autofocus="true"
      />
    </div>
    <div class="form-input">
      <input
        type="password"
        class="form-control"
        id="password-login"
        placeholder="Password"
        autofocus="true"
      />
    </div>
    <div class="button-container">
      <button class="button" type="submit">Log In</button>
      <a class="button" href="/signup">Sign Up</a>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>