<div class="signup-container">
  <form id="signup-form">
    <h1>Sign up for Round Table!</h1>

    <div class="form-input">
      <input
        type="text"
        required="required"
        class="form-control"
        id="username-signup"
        placeholder="Pick A Username"
        autofocus="true"
      />
    </div>
    <div class="form-input">
      <input
        type="password"
        required="required"
        class="form-control"
        id="pw-set"
        placeholder="Pick A Password"
        autofocus="true"
      />
    </div>
    <div class="form-input">
      <input
        type="password"
        required="required"
        class="form-control"
        id="pw-confirm"
        placeholder="Confirm Password"
        autofocus="true"
      />
    </div>

    <div class="button-container">
      <button class="button" type="submit">Sign Up</button>
      <a class="button" href="/">Have A Username? Log In</a>
    </div>
  </form>
</div>

<script src="/js/signup.js"></script>