@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  --text-color: #eeeeee;
  --primary-color: #222831;
  --secondary-color: #393e46;
  --tertiary-color: #00adb5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.icon,
.icons {
  /* font-size: 1.5rem; */
  /* width: 1.5em;
  height: 1.5em; */
  font-family: "Bootstrap-icons";
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* =========================================== */
/* ================ HEADER =================== */
/* =========================================== */
header {
  background-color: var(--secondary-color);
  width: 100%;
}

nav {
  color: var(--text-color);
  margin: 0 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .navbar-nav li a {
  color: var(--text-color);
}

nav .navbar-nav li a:hover {
  color: var(--tertiary-color);
}

.navbar-toggler,
.navbar-toggler-icon {
  border-color: var(--text-color);
  color: var(--text-color);
}
/* =========================================== */
/* ============== END HEADER ================= */
/* =========================================== */

/* =========================================== */
/* ================= LOGIN =================== */
/* =========================================== */
.login-container {
  height: 100vh;
  position: relative;
  width: 30%;
  margin: 0 auto;
}

#login-form {
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid var(--tertiary-color);
  background: var(--secondary-color);
  box-shadow: rgba(179, 179, 179, 0.1) 0px 20px 25px -5px,
    rgba(180, 180, 180, 0.04) 0px 10px 10px -5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.form-input {
  width: 100%;
  margin: 1rem 0;
}

#login-form > h1 {
  font-size: 2rem;
}

.form-input {
  border: none;
  width: 100%;
  margin: 1rem 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container a {
  text-align: center;
  text-decoration: none;
}

.button {
  /* buttons to be equal size */
  width: 50%;
  margin: 0.5rem 0.2rem;
  padding: 0.2rem;
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--primary-color);
}

.button:hover {
  color: var(--text-color);
  transition: 0.2s ease-in-out;
  background-color: var(--tertiary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(137, 137, 137, 0.05) 0px 4px 6px -2px;
}

/* =========================================== */
/* =============== LOGIN END ================= */
/* =========================================== */

/* =========================================== */
/* ================ SIGN UP ================== */
/* =========================================== */

.signup-container {
  height: 100vh;
  position: relative;
  width: 40%;
  margin: 0 auto;
}

#signup-form {
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid var(--tertiary-color);
  background: var(--secondary-color);
  box-shadow: rgba(179, 179, 179, 0.1) 0px 20px 25px -5px,
    rgba(180, 180, 180, 0.04) 0px 10px 10px -5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

/* =========================================== */
/* ============== SIGN UP  END =============== */
/* =========================================== */

/* =========================================== */
/* ================ MAIN PAGE ================ */
/* =========================================== */
.main-wrapper {
  border: 2px solid orange;
  height: 100vh;
  width: 100%;
  display: flex;
}

/* =========================================== */
/*                    NAVBAR                   */
/* =========================================== */
.navbar {
  border: 2px solid blue;
  background: (var(--primary-color));
  width: 5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.new-chat {
  margin-top: 8px;
  padding: 15px 20px;
  font-size: 2rem;
  border-radius: 17px;
  background: var(--tertiary-color);
  color: var(--text-color);
  border: none;
}

.nav-item {
  color: white;
  list-style: none;
  margin: 15px 0;
  padding: 15px 20px;
  border-radius: 50%;
  background: var(--secondary-color);
  text-align: center;
  position: relative;
}

.nav-item:hover {
  border-radius: 20px;
  background: var(--tertiary-color);
}

.new-chat:hover {
  transition: 0.03s ease-in-out;
  box-shadow: rgba(201, 201, 201, 0.35) 0px 5px 15px;
  background: var(--secondary-color);
}

.active::before,
.active::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
}

.active::after {
  background: white;
  animation: pulse 1000ms;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }
  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}

/* =========================================== */
/*                CHAT-INFO                    */
/* =========================================== */
.chat-info {
  border: 2px solid red;
  background-color: var(--secondary-color);
  width: 12rem;
  height: 100vh;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =========================================== */
/*                    CHAT                    */
/* =========================================== */
main {
  border: 2px solid green;
  width: 100%;
}

/* =========================================== */
/* ============== MAIN PAGE END ============== */
/* =========================================== */

/* =========================================== */
/* ================ FOOTER =================== */
/* =========================================== */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
}
/* =========================================== */
/* ============== END FOOTER ================= */
/* =========================================== */
